.carousel-item {
    background-color: #FDF0ED;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background: none;
    color: rgba(95, 92, 92, 0.635);
    font-size: 1.25rem;
}

.carousel-control-next-icon {
    color: rgba(201, 93, 93, 0.635);
}

footer {
    background-color: #0B0D17;
    padding: 3rem;
}

.btn-dn {
    width: 10rem;
    margin-top: 1rem;
}